[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "==21.10"
python-dotenv = "*"
flask = "*"
gunicorn = "*"

[requires]
python_version = "3.12"